<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<!-- <typeAlias alias="_Agent" type="com.cti.model.Agent" /> -->
		<typeAlias alias="_Application" type="sunin.outbound.model.Application" />
		<typeAlias alias="_Batch" type="sunin.outbound.model.Batch" />
		<typeAlias alias="_JobList" type="sunin.outbound.model.JobList" />
		<typeAlias alias="_Task" type="sunin.outbound.model.Task" />
		<typeAlias alias="_UserApplication" type="sunin.outbound.model.UserApplication" />
		<typeAlias alias="_User" type="sunin.outbound.model.User" />
	</typeAliases>
	<!-- 实体接口映射资源 -->
	<!-- 说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略， -->
	<!-- 因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml -->
	<!-- 当mapper.xml中有中文注释时有时会有异常 -->
	<mappers>
		<!-- <mapper resource="com/cti/model/mapper/IAgentMapper.xml" /> -->
		<mapper resource="sunin/outbound/model/mapper/IApplicationMapper.xml" />
		<mapper resource="sunin/outbound/model/mapper/IBatchMapper.xml" />
		<mapper resource="sunin/outbound/model/mapper/IJobListMapper.xml" />
		<mapper resource="sunin/outbound/model/mapper/IPublicMapper.xml" />
		<mapper resource="sunin/outbound/model/mapper/ITaskMapper.xml" />
		<mapper resource="sunin/outbound/model/mapper/IUserApplicationMapper.xml" />
		<mapper resource="sunin/outbound/model/mapper/IUserMapper.xml" />
	</mappers>
</configuration>  