<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：必须与对应的接口全类名一致 -->
<!-- id:必须与对应接口的某个对应的方法名一致 -->
<mapper namespace="sunin.outbound.model.mapper.IUserMapper">

	<insert id="insert" parameterType="_User">
		INSERT INTO USER
		(
		USERNAME, USERPWD, USERLEVEL, MAXCONCURRENT
		)
		VALUES
		(
		#{userName}, #{userPwd}, #{userLevel},
		#{maxConcurrent}
		)
	</insert>

	<select id="selectByName" parameterType="String" resultType="_User">
		SELECT
		USERNAME, USERPWD, USERLEVEL, MAXCONCURRENT
		FROM USER
		WHERE
		USERNAME=#{userName}
	</select>

	<update id="delete" parameterType="_User">
		UPDATE USER
		SET USERLEVEL=#{userLevel}
		WHERE USERNAME=#{userName}
	</update>

	<update id="resetPwd" parameterType="_User">
		UPDATE USER
		SET USERPWD=#{userPwd}
		WHERE USERNAME=#{userName}
	</update>

	<update id="changePwd" parameterType="_User">
		UPDATE USER
		SET USERPWD=#{userPwd}
		WHERE USERNAME=#{userName}
	</update>

	<update id="save" parameterType="_User">
		UPDATE USER
		SET MAXCONCURRENT=#{maxConcurrent}
		WHERE USERNAME=#{userName}
	</update>

	<select id="selectUsersCount" resultType="java.lang.Integer">
		SELECT
		COUNT(*)
		FROM USER
	</select>

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->
	<select id="selectUsers" parameterType="String" resultType="_User">
		SELECT
		USERNAME userName, USERLEVEL userLevel, MAXCONCURRENT maxConcurrent
		FROM USER
		ORDER BY USERLEVEL DESC,
		USERNAME
		${condition}
	</select>

</mapper>